header {
    background-color: #1b2730;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.sticky-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    margin-right: auto; /* Push the logo to the far left */
}

.logo-container img {
    width: auto; /* Set the width to auto for responsiveness */
    height: 80px; /* Adjust the height as needed */
    border-radius: 0; /* Remove border-radius for a rectangular shape */
    border: none; /* Remove the border */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centering the navigation items */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px; /* Set the font size to your desired value */
}

nav a:hover {
    color: gold;
}

/* Common styles for header */
header {
    background-color: #1b2730;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.sticky-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    margin-right: auto;
}

.logo-container img {
    width: auto;
    height: 80px;
    border-radius: 0;
    border: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}


nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px;
}

nav a:hover {
    color: gold;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none; /* Hide the navigation links by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1b2730;
    }

    nav ul.show {
        display: flex; /* Show the navigation links when the class is added */
    }

    nav ul li {
        margin: 0;
        text-align: center;
    }

    .sticky-header {
        flex-direction: column; /* Stack logo and navigation vertically */
        align-items: flex-start;
    }

    .sticky-header .logo-container {
        margin: 0;
        margin-bottom: 10px; /* Add space between logo and dropdown */
    }

    .sticky-header button {
        background-color: #1b2730;
        color: white;
        border: none;
        cursor: pointer;
    }
}
