header {
    background-color: #1b2730;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.sticky-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    margin-right: auto; /* Push the logo to the far left */
}

.logo-container img {
    width: auto; /* Set the width to auto for responsiveness */
    height: 80px; /* Adjust the height as needed */
    border-radius: 0; /* Remove border-radius for a rectangular shape */
    border: none; /* Remove the border */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centering the navigation items */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px; /* Set the font size to your desired value */
}

nav a:hover {
    color: gold;
}
